
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/background.jpg);
    background-size: cover;
    font-family: "Sixtyfour Convergence", sans-serif;
}

.titulo{
    margin-left: 55%;
    transform: translate(-50%);
    font-size: 2rem;
}

.contenedor{
    margin-top: 80px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    
}

.calabaza{
    margin-left: 47.6%;
    margin-top: 16%;
}