
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/background.jpg);
    background-size: cover;
    font-family: "Sixtyfour Convergence", sans-serif;
}

.titulo{
    margin-left: 55%;
    transform: translate(-50%);
    font-size: 2.5rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 70px;
}

.calabaza{
    margin-left: 48%;
    margin-top: 23%;
}